@model JobPortal.Models.JobDetails

@{
    ViewBag.Title = "Job Details";
    Layout = "~/Views/Shared/EmployerLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-9">
            <h2>@Model.JobTitle</h2>
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-eye"></i> Views
                    <div>@Model.NumberOfViews</div>
                    <i class="fa fa-users"></i> Applicants
                    <div>@Model.NumberOfApplications</div>
                </div>
                <div class="col-md-10">

                </div>
            </div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    <div class="text-justify">
                        <p style="text-align: justify; line-height: 1.2;">@Html.Raw(@Model.Description.Replace(Environment.NewLine, "<br />"))</p>
                    </div>
                </dd>
                <dt>
                    Category
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CategoryName)
                </dd>
                <dt>
                    <i class="fa fa-map-marker"></i> @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    <i class="fa fa-money"></i> @Html.DisplayNameFor(model => model.Salary)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Salary)
                </dd>

                <dt>
                    <i class="fa fa-briefcase"></i> Employment type
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmploymentType)
                </dd>

                <dt>
                    <i class="fa fa-calendar"></i>Last date
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ApplicationDeadline)
                </dd>
            </dl>
        </div>
        <div class="col-md-3 mt-4">
            <div class="card">
                <div class="card-body text-center">
                    <img alt="companylogo" src="data:jpg/png;base64 ,@Convert.ToBase64String(Model.CompanyLogo)" class="rounded-circle mb-2" width="60px" />
                    <h3 class="title"><i class="fa fa-building"></i> @Html.DisplayFor(model => model.CompanyName)</h3>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Official Email</dt>
                        <dd>
                            @Html.DisplayFor(model => model.OfficialEmail)
                        </dd>

                        <dt>Website</dt>
                        <dd>
                            @Html.DisplayFor(model => model.Website)
                        </dd>

                        <dt>Employer name</dt>
                        <dd>
                            @Html.DisplayFor(model => model.EmployerName), @Html.DisplayFor(model => model.Designation)
                        </dd>

                        <dt>Contact Email</dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>Phone number</dt>
                        <dd>
                            @Html.DisplayFor(model => model.ContactPhone)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
