@model JobPortal.Models.EducationDetails
@{
    ViewBag.Title = "UpdateEductionDetails";
    Layout = "~/Views/Shared/JobSeekerLayout.cshtml";
}
<link href="~/Content/select2.min.css" rel="stylesheet" />

<div class="d-flex justify-content-center mt-5 ">
    <div class="col-md-6">
        <form action=@Url.Action("UpdateEducationDetails","JobSeeker")  method="post" onsubmit="return ValidateEducationForm()">
            <div class="card p-3" style="border: none;transform: translateY(0);" id="educationContainer">
                <h3>Update eduction details</h3>
                <input type="hidden" name="EducationId" value="@Model.EducationId" />
                <div class="form-group  mt-2 ">
                    <label for="universityList" class="text-left">University:</label>
                    <select id="universityList" name="University" class="form-control" onblur="validateUniversity(this)"></select>
                    <span id="error-universityList" class="text-danger"></span>
                </div>
                <div class="form-group  mt-2 ">
                    <label for="major">Major:</label>
                    <select id="major" name="Major" class="form-control " onblur="validateMajor(this)">
                        <option value="">Please select</option>
                        <option value="Computer Application" @if (Model.Major == "Computer Application") { <text> selected</text> }>Computer Application</option>
                        <option value="Computer Science" @if (Model.Major == "Computer Science") { <text> selected</text>}>Computer Science</option>
                        <option value="Computer Engineering" @if (Model.Major == "Computer Engineering") { <text> selected</text>}>Computer Engineering</option>
                    </select>

                    <span id="error-major" class="text-danger"></span>
                </div>
                <div class="form-group  mt-2 ">
                    <label for="degree">Degree:</label>
                    <select id="degree" name="Degree" class="form-control " onblur="validateDegree(this)">
                        <option value="">Please select</option>
                        <option value="Master" @if (Model.Degree == "Master") { <text> selected</text> }>Master</option>
                        <option value="Graduation" @if (Model.Degree== "Graduation") { <text> selected</text> }>Graduation</option>
                        <option value="Ph.D." @if (Model.Degree == "Ph.D.") { <text> selected</text> }>Ph.D.</option>
                    </select>
                    <span id="error-degree" class="text-danger"></span>
                </div>
                <div class="form-group  mt-2 ">
                    <label for="graduationYear">Graduation year:</label>
                    <select id="graduationYear" name="GraduationYear" class="form-control" onblur="validateGraduationYear(this)">
                    </select>

                    <span id="error-graduationYear" class="text-danger"></span>
                </div>
                <label for="gpa">GPA:</label>
                <input type="number" step="0.01" id="gpa" name="Gpa" placeholder="GPA" class="form-control" value="@Model.Gpa" onblur="validateGPA(this)">
                <span id="error-gpa" class="text-danger"></span>
                <input type="submit" value="Submit" class="btn btn-primary mt-2">
            </div>
        </form>
    </div>
</div>
        
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-3.7.1.min.js")
    @Scripts.Render("~/Scripts/MyScripts/select2.min.js")
}
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/MyScripts/select2.min.js"></script>
<script src="~/Scripts/MyScripts/main.js"></script>
<script>
    $(document).ready(function () {
        populateYearDropdown();
        $("#graduationYear").val(@Model.GraduationYear);
    var selectedUniversity = "@Model.University"
    var universityList = $("#universityList");
    $("#universityList").select2({
        placeholder: "Select university",
        allowClear: true,
        width: '100%'
    });

    $.getJSON('/Scripts/data.json', function (data) {
        data.forEach(function (university) {
            $("#universityList").append(`<option value="${university.name}">${university.name}</option>`);
        });
        universityList.val(selectedUniversity).trigger('change');
    })
        .fail(function (error) {
            console.error('Error loading local JSON file:', error);
        });

});
</script>

